# 与えられたデータに外れ値が頻出する件について
## 要件
たとえば 2012-07-12では

```
VZ      446200  448200  442700  446700
GE      194800  196200  193700  194400
GM      196100  196100  192400  193300
GS      942900  947000  932500  940200 ...
```

のようになっているが、2014-12-31では
```
VZ      47.24   47.4218 46.71   46.85
GE      25.65   25.65   25.27   25.34
GM      35.49   35.49   34.83   34.83
GS      196.32  196.83  193.83  193.86
PFE     31.38   31.69   31.1    31.2
CAT     92.74   92.95   91.41   91.54 ...
```
となって明らかにおかしい。この傾向は全体で見られるので、集計方法や桁数が変更された可能性がある。
具体的な統計をとって、どの期間からどの期間でこのような形式がみられるのかを調べたい。

調査しました。
 - 20131202以前と以後でわかれる
 - 20131202以降は問題なし
 - 20131202以前では、データは不揃い  
 
VZ社
![download](https://user-images.githubusercontent.com/27924055/30359547-8916ab84-9886-11e7-9bff-0586253b652c.png)
 境目になっているのは 20131202です。
 - また、20131202以前でも、データが（それ以降と）整合的な会社もあります。
 CSCO.O社
![download-1](https://user-images.githubusercontent.com/27924055/30359616-f106f6ea-9886-11e7-9a4f-efd5510fad4e.png)

## やること

 - 前日比に単位を統一したときに何が起こるか
     - ある区間で外れ値となるので、区間の始まりと終わりのみ除外すれば良い
         - たとえば、VZ社では2012-01-03 ~ 2013-12-03の2年間が外れ値となっているため、その2日のみを除外する
         - 他の会社で、その区間は同一か？
             - 結論から言うと同一でない
             - つまり、外れ値になっている区間を見つけ出して、その日を除いて返す関数が必要

In [42]:
import os
import sys
import glob
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
sys.path.append("../../lib/")
from load_tsvs import load_tsvs

In [308]:
# TSVデータの読み出し
targetDir = "../stockValueFull/"
df = load_tsvs(dir_path=targetDir)
df=df.set_index("date")

In [91]:
# df_vzに前日比を追加
df_vz = df[df["COMPANY"] == vz]
pct = df_vz[['Open', 'High', 'Low', 'Close']].pct_change()
pct.columns = ['Open_p', 'High_p', 'Low_p', 'Close_p']
df_vz = pd.concat([df_vz,pct],axis=1)

# dateをインデックスに
df_vz = df_vz.set_index("date")

In [303]:
def removeOutlier(df,corp):
    """
    すでにdfは前日比に修正済みのものとする
    """
    df_corp = df[df["COMPANY"] == corp]
    pct = df_corp[['Open', 'High', 'Low', 'Close']].pct_change()
    pct.columns = ['Open_p', 'High_p', 'Low_p', 'Close_p']
    df_corp = pd.concat([df_corp,pct],axis=1)
    
    for i in range(6):
        oStart = df_corp[df_corp["Close_p"] == df_corp.Close_p.max()].index
        oEnd = df_corp[df_corp["Close_p"] == df_corp.Close_p.min()].index
        df_corp = df_corp.drop(oStart)
        df_corp = df_corp.drop(oEnd)
    
    return df_corp

In [309]:
resultDf = removeOutlier(df,"VZ")
for comp in df.COMPANY.unique():
    if comp == "VZ":
        pass
    else:
        _df = removeOutlier(df,comp)
        resultDf = pd.concat([resultDf,_df])

           COMPANY   Open   High    Low  Close  Open_p  High_p  Low_p  Close_p
date
2005-01-03      VZ 40.510 41.040 40.370 40.485     nan     nan    nan      nan
2005-01-04      VZ 40.730 40.730 39.890 40.136   0.005  -0.008 -0.012   -0.009
2005-01-05      VZ 40.140 40.510 39.970 40.020  -0.014  -0.005  0.002   -0.003
2005-01-06      VZ 40.000 40.000 39.150 39.560  -0.003  -0.013 -0.021   -0.011
2005-01-07      VZ 39.600 39.900 39.290 39.300  -0.010  -0.003  0.004   -0.007
2005-01-10      VZ 39.460 39.460 38.830 39.030  -0.004  -0.011 -0.012   -0.007
2005-01-11      VZ 39.040 39.040 38.580 38.770  -0.011  -0.011 -0.006   -0.007
2005-01-12      VZ 38.500 38.520 37.800 38.230  -0.014  -0.013 -0.020   -0.014
2005-01-13      VZ 38.000 38.010 36.880 37.070  -0.013  -0.013 -0.024   -0.030
2005-01-14      VZ 37.100 37.170 36.500 36.500  -0.024  -0.022 -0.010   -0.015
2005-01-18      VZ 36.750 37.700 36.520 37.680  -0.009   0.014  0.001    0.032
2005-01-19      VZ 37.260 37.570 36.630 36.650   0.014  -0.003  0.003   -0.027
2005-01-20      VZ 36.170 36.669 35.820 36.360  -0.029  -0.024 -0.022   -0.008
2005-01-21      VZ 36.800 37.100 36.470 36.490   0.017   0.012  0.018    0.004
2005-01-24      VZ 36.500 37.370 36.390 36.850  -0.008   0.007 -0.002    0.010
2005-01-25      VZ 36.850 37.080 35.850 36.100   0.010  -0.008 -0.015   -0.020
2005-01-26      VZ 36.000 36.600 36.000 36.600  -0.023  -0.013  0.004    0.014
2005-01-27      VZ 37.000 37.000 35.360 35.790   0.028   0.011 -0.018   -0.022
2005-01-28      VZ 35.800 36.110 35.120 35.460  -0.032  -0.024 -0.007   -0.009
2005-01-31      VZ 36.000 36.000 35.250 35.590   0.006  -0.003  0.004    0.004
2005-02-01      VZ 35.590 36.200 35.590 35.980  -0.011   0.006  0.010    0.011
2005-02-02      VZ 36.670 36.670 35.770 35.880   0.030   0.013  0.005   -0.003
2005-02-03      VZ 35.970 36.170 35.780 35.894  -0.019  -0.014  0.000    0.000
2005-02-04      VZ 36.100 36.950 36.030 36.950   0.004   0.022  0.007    0.029
2005-02-07      VZ 36.900 36.960 36.530 36.570   0.022   0.000  0.014   -0.010
2005-02-08      VZ 36.830 36.830 36.343 36.480  -0.002  -0.004 -0.005   -0.002
2005-02-09      VZ 36.450 36.520 36.000 36.201  -0.010  -0.008 -0.009   -0.008
2005-02-10      VZ 36.060 36.440 35.860 36.040  -0.011  -0.002 -0.004   -0.004
2005-02-11      VZ 36.250 36.550 36.020 36.310   0.005   0.003  0.004    0.007
2005-02-14      VZ 36.320 37.050 36.100 36.208   0.002   0.014  0.002   -0.003
...            ...    ...    ...    ...    ...     ...     ...    ...      ...
2014-11-18      PG 88.180 88.180 87.509 87.810   0.003   0.000  0.002   -0.000
2014-11-19      PG 88.220 88.870 87.815 88.730   0.000   0.008  0.003    0.010
2014-11-20      PG 88.520 88.760 88.210 88.330   0.003  -0.001  0.005   -0.005
2014-11-21      PG 88.940 89.405 88.472 88.600   0.005   0.007  0.003    0.003
2014-11-24      PG 88.820 88.930 87.890 88.080  -0.001  -0.005 -0.007   -0.006
2014-11-25      PG 88.250 88.990 88.110 88.820  -0.006   0.001  0.003    0.008
2014-11-26      PG 88.800 88.940 88.454 88.626   0.006  -0.001  0.004   -0.002
2014-11-28      PG 88.860 91.300 88.860 90.580   0.001   0.027  0.005    0.022
2014-12-01      PG 90.420 90.660 89.545 90.100   0.018  -0.007  0.008   -0.005
2014-12-02      PG 90.300 91.200 90.100 91.200  -0.001   0.006  0.006    0.012
2014-12-03      PG 91.070 91.070 89.640 90.000   0.009  -0.001 -0.005   -0.013
2014-12-04      PG 90.610 90.910 90.140 90.580  -0.005  -0.002  0.006    0.006
2014-12-05      PG 89.420 91.103 89.210 90.400  -0.013   0.002 -0.010   -0.002
2014-12-08      PG 90.400 90.995 90.190 90.630   0.011  -0.001  0.011    0.003
2014-12-09      PG 90.300 90.730 89.880 90.710  -0.001  -0.003 -0.003    0.001
2014-12-10      PG 90.710 91.050 89.700 89.700   0.005   0.004 -0.002   -0.011
2014-12-11      PG 90.240 91.270 89.990 90.360  -0.005   0.002  0.003    0.007
2014-12-12      PG 90.050 90.890 89.360 89.850  -0.002  -0.004 -0.007   -0.006
2014-12-15      PG 89.470 90.600 89.070 89.861  -0.006  -0.003 -0.003    0.000
2014-12-16      PG 89.100 90.920 88.480 89.870  -0.004   0.004 -0.007    0.000
2014-12-17      PG 90.020 90.920 89.182 90.700   0.010   0.000  0.008    0.009
2014-12-18      PG 91.430 92.110 90.550 92.000   0.016   0.013  0.015    0.014
2014-12-19      PG 92.110 92.700 91.560 92.280   0.007   0.006  0.011    0.003
2014-12-22      PG 92.190 92.720 92.005 92.600   0.001   0.000  0.005    0.003
2014-12-23      PG 92.750 93.470 92.600 93.305   0.006   0.008  0.006    0.008
2014-12-24      PG 93.720 93.890 93.140 93.550   0.010   0.004  0.006    0.003
2014-12-26      PG 93.590 93.800 93.140 93.460  -0.001  -0.001  0.000   -0.001
2014-12-29      PG 93.430 93.430 92.500 92.660  -0.002  -0.004 -0.007   -0.009
2014-12-30      PG 92.120 92.780 91.750 92.400  -0.014  -0.007 -0.008   -0.003
2014-12-31      PG 92.390 92.540 91.030 91.340   0.003  -0.003 -0.008   -0.011

[96406 rows x 9 columns]

In [311]:
resultDf = resultDf.sort_index()

In [313]:
resultDf = resultDf.dropna(how='any')

In [314]:
resultDf.to_csv("resultDf.csv")

In [332]:
dateList = list(resultDf.index.unique())

In [334]:
for d in dateList:
    aDay = resultDf[resultDf.index == d]
    aDay.to_csv("../processed/"+ str(d) + ".tsv",sep='\t')

In [328]:
resultDf[resultDf.index == "2005-01-04"]

,COMPANY,Open,High,Low,Close,Open_p,High_p,Low_p,Close_p
date,,,,,,,,,
2005-01-04,PFE,26.450,26.600,26.050,26.400,-0.024,-0.027,-0.014,-0.004
2005-01-04,MSFT.O,26.840,27.090,26.660,26.800,0.002,0.006,0.000,0.002
2005-01-04,NKE,35.260,35.500,34.360,34.670,-0.009,-0.013,-0.023,-0.021
2005-01-04,JPM,39.000,39.040,38.330,38.410,-0.004,-0.015,-0.018,-0.019
2005-01-04,HD,43.240,43.260,42.520,42.520,0.007,0.001,-0.010,-0.013
2005-01-04,BAC,45.330,46.730,45.330,45.900,-0.033,-0.004,-0.019,-0.012
2005-01-04,V,31.740,32.310,31.740,32.162,0.003,0.002,0.004,0.011
2005-01-04,HON,41.450,41.610,40.920,40.960,-0.010,-0.008,-0.012,-0.016
2005-01-04,KO,32.770,32.800,32.270,32.270,0.014,0.002,0.001,-0.007
2005-01-04,INTC.O,23.150,23.190,22.350,22.610,-0.017,-0.025,-0.031,-0.022
2005-01-04,MMM,63.140,63.220,62.630,62.700,-0.003,-0.004,-0.001,-0.013
2005-01-04,CVX,51.090,51.440,50.510,50.580,-0.027,-0.020,-0.006,-0.006
2005-01-04,GS,104.820,105.200,103.980,104.270,-0.001,0.000,-0.004,-0.006
2005-01-04,IBM,60.970,61.480,60.700,61.125,-0.008,-0.004,0.005,0.002
2005-01-04,CSCO.O,19.350,19.390,18.560,18.650,-0.005,-0.009,-0.037,-0.035
2005-01-04,UTX,103.000,103.570,101.810,102.704,-0.001,-0.007,-0.008,-0.003
2005-01-04,GE,36.850,36.850,36.000,36.180,0.004,-0.001,-0.013,-0.010
2005-01-04,DIS,27.850,28.000,27.150,27.756,0.001,-0.009,-0.024,-0.003
2005-01-04,MO,90.670,90.940,89.210,89.400,-0.000,-0.004,-0.013,-0.013
2005-01-04,XOM,50.140,50.580,49.700,50.220,-0.015,-0.008,-0.004,0.003
2005-01-04,MRK,31.120,31.800,31.010,31.313,-0.027,-0.012,-0.001,0.000
2005-01-04,HPQ,63.550,65.410,63.060,64.250,-0.023,0.002,0.007,0.018
2005-01-04,TRV,21.100,21.160,20.600,20.900,-0.003,-0.003,-0.019,-0.007
2005-01-04,JNJ,55.120,55.470,54.500,54.650,-0.001,-0.005,-0.011,-0.009
2005-01-04,T,18.840,18.860,18.280,18.486,-0.013,-0.053,-0.021,-0.018
2005-01-04,BA,51.000,51.150,49.910,50.100,-0.016,-0.020,-0.020,-0.017
2005-01-04,GM,40.400,40.400,39.370,39.920,0.008,-0.009,-0.017,-0.015
2005-01-04,AIG,66.380,66.890,66.110,66.250,0.004,0.001,0.004,0.006
2005-01-04,VZ,40.730,40.730,39.890,40.136,0.005,-0.008,-0.012,-0.009
2005-01-04,AA,30.900,30.960,30.250,30.500,-0.019,-0.026,-0.022,-0.016
2005-01-04,DD,49.000,49.120,47.600,48.060,-0.006,-0.007,-0.027,-0.022
2005-01-04,MCD,86.540,86.980,85.290,86.244,-0.017,-0.012,-0.014,-0.020
2005-01-04,AAPL.O,55.910,55.960,54.870,55.070,-0.012,-0.017,-0.017,-0.015
2005-01-04,C,48.280,48.760,47.710,47.860,-0.015,-0.005,-0.010,-0.008
2005-01-04,WMT,53.770,53.890,53.020,53.220,0.004,-0.006,-0.004,-0.005
2005-01-04,AXP,97.900,98.410,96.530,96.820,-0.010,-0.011,-0.008,-0.010
2005-01-04,CAT,95.500,96.270,93.330,95.101,-0.006,-0.009,-0.013,0.000
2005-01-04,UNH,82.370,83.000,81.700,81.730,0.003,-0.005,-0.004,-0.008